[Desktop Entry]
Encoding=UTF-8
Name=Brycecoin
Comment=Desktop allet for Brycecoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Brycecoin
Exec=Brycecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Brycecoin128.png
MimeType=x-scheme-handler/Brycecoin;
Categories=Office;Finance;P2P;Network;Qt;
