[Desktop Entry]
Encoding=UTF-8
Name=Brycecoin (testnet)
Comment=Desktop allet for Brycecoin Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Brycecoin (testnet)
Exec=Brycecoin-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Brycecoin-testnet128.png
MimeType=x-scheme-handler/Brycecoin;
Categories=Application;Network;
